<!DOCTYPE HTML>

<html>

    <head>
        <title>WegGL - LightRider</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

        <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="{{ asset('public/lightrider/css/index.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('public/lightrider/css/lightbox.css') }}" />
    </head>

    <body>
        <div id="page">
            <div id="renderContainer" class="horizontal"></div>

            <div id="hudIndicators">
                <div class="vertical yellow" id="speed"></div>
                <div class="vertical yellow" id="altitude"></div>
                <div class="vertical yellow" id="viewConeAngle"></div>
                <div class="clearBoth"></div>
            </div>

            <div id="instrumentContainer">
                <div id="betaScaleTitle" class="vertical yellow">v/c</div>
                <div class="verticalSmallSpace"></div>
                <div class="vertical">
                    <canvas id="betaScale" class="horizontal" width="1" height="1">Browser does not support canvas!</canvas>
                    <div id="betaSlider" class="horizontal"></div>
                </div>
                <div class="clearBoth"></div>
            </div>

            <div class="clearBoth"></div>

            <div id="lightboxbackground"></div>
            <div id="lightbox">
                <div>
                    <div id="lightboxContent">
                        <div class="verticalSmallSpace"></div>
                        <h3>Lightrider - Enjoy Lorentz Covariance!</h3>
                        <div>
                        (Press ESC to close or open this dialog)
                        </div>
                        <div class="verticalBigSpace"></div>
                        <div id="options" class="vertical">
                            <form id="dopplerForm" method="" action="#">
                                <div class="horizontal">Doppler Effect <input type="checkbox" id="setDopplerEffect" value="yes" /></div>
                                <div class="horizontal">Strength <input type="number" id="dopplerShiftRescale" class="mediumFont" size="4" min="0.0" max="1.0" step="0.01" value="0.3"/></div>
                                <div class="clearLeft"></div>
                            </form>
                        </div>
                        <div class="verticalBigSpace"></div>
                        <hr class="separator" />
                        <div class="verticalBigSpace"></div>
                        <div id="explanations" class="vertical">
                            <table>
                                <tr><td>&uarr; / &darr;</td> <td>&nbsp;&nbsp;</td> <td>nose down / up</td></tr>
                                <tr><td>&larr; / &rarr;</td> <td>&nbsp;&nbsp;</td> <td>roll left / right</td></tr>
                                <tr><td>a / d</td> <td>&nbsp;&nbsp;</td> <td>yaw left / right</td></tr>
                                <tr><td>&nbsp;</td></tr>
                                <tr><td>w</td> <td>&nbsp;&nbsp;</td> <td>accelerate</td></tr>
                                <tr><td>s</td> <td>&nbsp;&nbsp;</td> <td>decelerate</td></tr>
                            </table>
                        </div>
                        <div class="clearBoth"></div>
                    </div>
                    <div class="button">
                        <a href="javascript:void(0)">Close</a>
                    </div>
                </div>
           </div>
        </div>

        <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>

        <script type="text/javascript" src="{{ asset('public/lightrider/js/Three.js') }}"></script>
        <script type="text/javascript" src="{{ asset('public/lightrider/js/Detector.js') }}"></script>
        <script type="text/javascript" src="{{ asset('public/lightrider/js/lightrider.min.js') }}"></script>
    </body>

</html>
