{% extends 'LightriderBundle:Settings:settings.html.twig' %}

{% block content %}
    <div id="how_to_fly_instructions">
        <h3>How to fly the plane:</h3>
        <div class="verticalSmallSpace"></div>
        <div>
            <table cellpadding="5">
                <tbody>
                    <tr>
                        <td align="right">nose down</td>
                        <td>
                            <img src="{{ asset('public/lightrider/images/key_arr_up.png') }}" />
                            <img src="{{ asset('public/lightrider/images/key_arr_down.png') }}" />
                        </td>
                        <td>nose up</td>
                    </tr>
                    <tr>
                        <td align="right">roll left</td>
                        <td>
                            <img src="{{ asset('public/lightrider/images/key_arr_left.png') }}" />
                            <img src="{{ asset('public/lightrider/images/key_arr_right.png') }}" />
                        </td>
                        <td>roll right</td>
                    </tr>
                    <tr>
                        <td align="right">yaw left</td>
                        <td>
                            <img src="{{ asset('public/lightrider/images/key_a.png') }}" />
                            <img src="{{ asset('public/lightrider/images/key_d.png') }}" />
                        </td>
                        <td>yaw right</td>
                    </tr>
                    <tr>
                        <td align="right">accelerate</td>
                        <td>
                            <img src="{{ asset('public/lightrider/images/key_w.png') }}" />
                            <img src="{{ asset('public/lightrider/images/key_s.png') }}" />
                        </td>
                        <td>decelerate</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="verticalBigSpace"></div>
        <div class="button" id="take_off_button">
            <span>Take Off!</span>
        </div>
    </div>
{% endblock %}      
