{% extends 'LightriderBundle:Settings:settings.html.twig' %}

{% block content %}
    <div id="how_to_fly_instructions">
        <h3>How to fly the plane:</h3>
        <div class="thumbnails">
            <div>
                <span>roll left:</span>
                <img src="{{ asset('public/lightrider/images/mobile_roll_left.png') }}" /> 
            </div>
            <div>
                <span>roll right:</span>
                <img src="{{ asset('public/lightrider/images/mobile_roll_right.png') }}" /> 
            </div>
            <div>
                <span>nose up:</span>
                <img src="{{ asset('public/lightrider/images/mobile_nose_up.png') }}" /> 
            </div>
            <div>
                <span>nose down:</span>
                <img src="{{ asset('public/lightrider/images/mobile_nose_down.png') }}" /> 
            </div>
            <div>
                <span>accelerate:</span>
                <img src="{{ asset('public/lightrider/images/mobile_accelerate.png') }}" /> 
            </div>
            <div>
                <span>decelerate:</span>
                <img src="{{ asset('public/lightrider/images/mobile_decelerate.png') }}" /> 
            </div>
        </div>
        <div class="button" id="center_mobile_device_button">
            <span>Continue</span>
        </div>
        <div class="verticalBigSpace"></div>
    </div>
    <div id="center_mobile_device" class="hidden">
        <h3 class="red">Switch to panorama view and choose a pitch angle.</h3>
        <div id="mobileDeviceRenderer"></div>
        <div class="button" id="take_off_button">
            <span>Take Off!</span>
        </div>
        <div class="verticalBigSpace"></div>
    </div>
{% endblock %}      
